*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    background-color: #B269DB;
    grid-area: main;
}
img{
    width: 25vw;
    height: auto;
}
p{
    text-align: justify;
    padding: 20px;
}

aside{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #DB8269;
    grid-area: aside;
    
}
@media (max-width:768px) {
    img{
    width: 100vw;
    height: auto;
    }
    main{
        flex-direction: column;
    }

    aside{
        display: block;
        
        font-size:  80%;
    }
}


#parent{

    display:grid;
    height: 98vh;
    width:100%;
    background-color: #DB699E;
    grid-template-areas: "header header header"
    "nav nav nav"
    "aside main main" 
    "footer footer footer";
    grid-template-rows: 2fr 1fr 20fr 2fr;
    grid-template-columns: 1fr 3fr 3fr;
    font-family: "novecento-sans-wide", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-style: normal;

}

header{
    
    grid-area: header;
    background: linear-gradient( #B269DB, #DB699E);
    text-align: center;

}


nav{
    background: linear-gradient(top to bottom, #B269DB, #DB699E);
    grid-area: nav;
    
}


ul{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    
}

a{

    text-decoration: none;
    color:white;
}

a:hover{

    color:blue;
}

footer{

background-color: #DBB2C5;
grid-area: footer;


}

.imgresponsive{

    max-width: 80%; 
    height: auto;
    align-items: center;
    border-radius: 5%;
    

}

.logo{

    max-width: 30%; 
    height: auto;
    align-items: center;
}

   
.RS{
    display: flex;
    justify-content: center;
    padding:3vh;

}

.rs{

    max-width: 25%;
}

form{
display: flex;
flex-direction: column;
row-gap: 1vh;
max-width: 40%;
  margin: 0 auto;
}

textarea{
    max-width: 100%;
}

.Crédits, .MentionsL{

margin-left: 40%;
margin-bottom: 0 auto;
}


.indexperso{

    text-align: center;
    font-family: novecento-sans-condensed, sans-serif;
    font-weight: 200;
    font-style: normal;
    justify-content: space-between;
    

}